/* CSS Module to stylize the Flight Component */
.item {
  margin-left: 2%;
  margin-top: 2%;
  margin-right: 2%;
  line-height: 1.5;
  display: block;
  border: solid;
}

.subheader {
  display: inline-block;
}
